*.class
*.iws
*.log
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.fseventsd
.history
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.lib/
/project/project/target/
/project/target/
/src/main/resources/*.csv
/target/
Icon
Network Trash Folder
Temporary Items
atlassian-ide-plugin.xml
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist/*
fabric.properties
lib_managed/
out/
project/boot/
project/plugins/project/
src_managed/
target/
/src/main/resources/data/
